* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    text-transform: capitalize;
}

header {
    /* background-color: #262626; */
    padding: 2% 5%;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.worl-game {
    font-size: 2rem;
}

.nav-link {
    /* transition: 0.7s; */
    text-transform: uppercase;
}

.nav-link:hover {
    color: rgb(27, 24, 24);
    border-bottom: 1px solid black;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* burger menu */
#burger-menu {
    position: relative;
    display: none;
}

#burger-menu-close {
    position: absolute;
    top: 0;
    z-index: -1;
    display: none;
}

/* main logo */
#world-of-game {
    text-decoration: none;
    font-size: 1.2em;
}

/* font awesome logo header */
.fa-solid {
    color: brown;
}

h1, h2, h3 {
    letter-spacing: .1em;
}

h3 {
    margin-top: 30px;
}

/* .navbar li:hover a {
    color: rgb(118, 107, 107);
    border-bottom: 1px solid rgb(118, 107, 107);
} */

section {
    background-color:whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

/* overflow for welcome tag */
/* #welcome-page,  */
#game-page {
    height: 90%;
    overflow-y: auto;
}

#game-area {
    margin: 0 auto;
    padding: 50px 10px;
    line-height: 2em;
    width: 50%;
    /* height: 90%; */
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

/* game page hides by default */
#game-page {
    display: none;
}

.username {
    margin-top: 15px;
}

#name, #user-input {
    width: 50%;
    height: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    line-height: 3em;
    border: 2px solid brown;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid brown;
}

#name:hover {
    border: 2px solid green;
}

/* flex div for input number and submit button */
#numberSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button, #submit, #restart {
    padding: 10px 25px;
    background-color: brown;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
}

/* hover effect for buttons */
#button:hover {
    background-color: white;
    color: brown;
}

#submit:hover {
    background-color: white;
    color: brown;
}

#restart:hover {
    background-color: white;
    color: brown;
}

#restart-timer {
    display: flex;
    justify-content: space-evenly;
    /* padding-bottom: 50px; */
}

/* timer */
#timer {
    float: right;
    /* margin-right: 50px; */
    padding: 6px 15px;
    background: brown;
    color: white;
    border-radius: 5px;
    font-size: large;

}

/* win div */
#win {
    font-size: 1.2em;
    color: brown;
}

#fullName{
    margin-bottom: 15px;
    color: white;
    background-color: brown;
}

/* footer */
footer {
    position: absolute;
    /* bottom: 0; */
    /* border: 2px solid red; */
    width: 100%;
    background-color: brown;
    
}

#footer-links {
    display: flex;
    /* padding: 20px 0; */
    justify-content: center;
}

#footer-links li {
    padding: 10px 20px;
    list-style-type: none;
}

#footer-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: .8em;
}

#footer-links li:hover a {
    color: wheat;
    border-bottom: 1px solid white;
}

/* number layout */
.numLayout {
    display: flex;
}

.number {
    width: 40px;
    height: 40px;
    font-weight: bolder;
    /* border: 2px solid red; */
    margin: 5px;
    border-radius: 5px;
    transition: transform .2s;
}
.number:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
    color: brown;
    font-size: 1.2em;
    font-weight: bolder;
}

/* win lost and times up gif */
#wingif, #lostgif, #timesUp {
    display: none;
    margin: 0 auto;
    padding-top: 10px;
    width: 80px;
}


/* Media Queries */

/* burger menu */
@media screen and (max-width:860px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 85px;
        gap: 0;
        /* flex-direction: column; */
        justify-content: space-evenly;
        background-color: brown;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .nav-item {
        margin: 10px 0;
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item a {
        color: white;
    }
}

/* under 420px */
@media screen and (max-width: 465px){
    /* .navbar {
        display: block;
    }
    .navbar li {
        padding: 5px;
    } */
    #footer-links li {
        padding: 5px;
        font-size: .7em;
    }
    #footer-links {
        display: flex;
        justify-content: space-around;
    }
}
    
@media screen and (max-width: 592px) {
    .nav-menu {
        top: 122px;
    }

    #game-area{
        overflow-y: auto;
        width: 75%;
    }
    #fullName {
        border-radius: 5px;
    }
}
 
@media screen and (max-width: 352px){
    #restart-timer {
        display: grid;
    }
    #restart {
        margin: 5px;
    }
    #timer {
        margin: 5px;
    }
    /* #game-area {
        height: 100%;
    } */
    .nav-menu {
        top: 170px;
    }
}

@media screen and (max-width: 313px){
    .nav-menu {
        top: 173px;
        width: 70%;
        margin-left: 79px;
    }
}