
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    text-transform: capitalize;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}
.navbar li a, h1{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/* main logo */
#world-of-game {
    text-decoration: none;
    font-size: 1.2em;
}

h1, h2, h3 {
    letter-spacing: .1em;
}

.navbar li:hover a {
    color: rgb(118, 107, 107);
    border-bottom: 1px solid rgb(118, 107, 107);
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    /* border: 2px solid red; */
    width: 100%;
    background-color: brown;
    
}

#footer-links {
    display: flex;
    /* padding: 20px 0; */
    justify-content: center;
}

#footer-links li {
    padding: 20px;
    list-style-type: none;
}

#footer-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

#footer-links li:hover a {
    color: wheat;
    border-bottom: 1px solid white;
}