
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    text-transform: capitalize;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}
.navbar li a, h1{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/* main logo */
#world-of-game {
    text-decoration: none;
    font-size: 1.2em;
}

h1, h2, h3 {
    letter-spacing: .1em;
}

.navbar li:hover a {
    color: rgb(118, 107, 107);
    border-bottom: 1px solid rgb(118, 107, 107);
}

section {
    background-color:whitesmoke;
    height: 100vh;
    display: flex;
}

#game-area {
    margin: 0 auto;
    padding-top: 50px;
    line-height: 2em;
    width: 50%;
    height: 80%;
    /* border: 1px solid red; */
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#game-page {
    display: none;
}

.username {
    margin-top: 30px;
}
#name, #user-input {
    width: 50%;
    height: 2.5em;
    text-align: center;
    margin: 30px;
    line-height: 3em;
    border: 2px solid brown;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid brown;
}

#name:hover {
    border: 2px solid green;
}

/* flex div for input name and submit button */
#numberSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button, #submit, #restart {
    padding: 10px 25px;
    background-color: brown;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
}

/* hover effets for buttons */
#button:hover {
    background-color: white;
    color: brown;
}

#submit:hover {
    background-color: white;
    color: brown;
}

#restart:hover {
    background-color: white;
    color: brown;
}

#restart-timer {
    display: flex;
    justify-content: space-evenly;
}

/* timer */
#timer {
    float: right;
    /* margin-right: 50px; */
    padding: 6px 15px;
    background: brown;
    color: white;
    border-radius: 5px;
    font-size: large;

}

/* win div */
#win {
    font-size: 1.2em;
}



/* footer */
footer {
    position: absolute;
    /* bottom: 0; */
    /* border: 2px solid red; */
    width: 100%;
    background-color: brown;
    
}

#footer-links {
    display: flex;
    /* padding: 20px 0; */
    justify-content: center;
}

#footer-links li {
    padding: 10px 20px;
    list-style-type: none;
}

#footer-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: .8em;
}

#footer-links li:hover a {
    color: wheat;
    border-bottom: 1px solid white;
}

/* Media Queries */

@media screen and (max-width: 890px){
    header {
        display: inline-block;
    }
    .navbar {
        display: inline-flex;
    }
    #logo{
        padding-left: 1rem;
    }
}

/* under 420px */
@media screen and (max-width: 465px){
    .navbar {
        display: block;
    }
    .navbar li {
        padding: 5px;
    }
    #footer-links li {
        padding: 5px;
        font-size: .5em;
    }
    #footer-links {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 610px){
    #game-area{
        height: 70%;
        overflow-y: auto;
        width: 80%;
        padding: 20px;
    }
}

@media screen and (max-width: 913px){
    #game-area{
        height: 60%;
    }
}

@media screen and (max-width: 350px){
    #restart-timer {
        display: grid;
    }
    #restart {
        margin: 5px;
    }
    #timer {
        margin: 5px;
    }
    #game-area {
        height: 100%;
    }
}

@media screen and (max-width: 400px){
    #game-area {
        height: 100%;
    }
}